.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid whitesmoke;
}

.header__left
{
    display: flex;
    align-items: center;
}

.header__left  img
{
    object-fit: contain;
    height: 50px;
    margin-left: 5px;
}

.header__middle
{
    display: flex;
    align-items: center;
    flex: 0.7;
    background-color: #eef3f8;
    padding: 10px;
    border-radius: 5px;
}

.header__middle .MuiSvgIcon-root
{
    color: grey;
}

.header__middle input
{
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    padding: 10px;
    font-size: medium;
}

.MuiSvgIcon-root
{
    cursor: pointer !important;
}

.header__right
{
    display: flex;
    align-items: center;
    padding-right: 20px;
}